{
# supports early, late, between X-Y, after X, any (no constraints), none (not coming this week)
  "time_prefs": {
    "Brett": "late",
    "Bashi": "after 7:45",
    "Justin": "any",
    "Chris O": "between 7:00-7:30",
    "Jeff": "any",
    "Jason": "any",
    "Laird": "any",
    "Amanda": "early",
    "Garrett": "any",
    "Ramy": "any",
    "Juan": "any",
    "Andrew Mac": "any",
    "Josh K": "any",
    "Nathan": "any",
    "Griff": "any",
    "Theron": "any",
    "Bart": "any",
    "Thomas C": "any",
    "Josh B": "any",
    "Robert": "any",
    "Thomas S": "any",
    "Casey": "any",
    "Richard": "any",
    "Joe": "any",
    "Miles": "any",
    "Luke": "any",
    "Terry": "any",
    "Andrew N": "any",
    "Darrell": "any",
    "Sam": "any",
    "Eric": "any",
    "Harrison G": "any",
    "Scott": "any",
    "Tom": "any",
    "Reza": "any",
    "Vincent": "any",
    "David C": "any",
    "Gavin": "any",
    "Matt C": "any",
    "Sebastian": "any",
    "Jon": "any",
    "Chris G": "any",
    "David S": "any",
    "Kaitlin": "any",
    "Dhivya": "any",
    "Daniel": "any"
  },
  "omitted_players": ["Griff"], # players who won't be playing this season/ever
  "min_matches_per_player": 2,
  "max_matches_per_player": 3,
  "lookback_weeks": 3, # how many weeks to look back for match history
  "global_time_window": ["6:00", "9:45"]
}